<!DOCTYPE html>
<html>
<head>
	<title>Gerência de Redes</title>
</head>
<body>
	<h2 style="text-align: center">Demonstração para disciplina de Gerência de Redes</h2>
	<h3 style="text-align: center">Utilização de SDN para Balanceamento de carga entre servidores.</h3>
	<h4 style="text-align: center">Equipe:</h4>
	<ul style="text-align: center">
		<li>Alex William</li>
		<li>Amaryel Costa</li>
		<li>Bruno Lopes</li>
		<li>Diego Fernando</li>
		<li>Marcio Silvano</li>
	</ul>
	<h3 style="text-align: center">Dados do servidor atual</h3>
	<p style="text-align: center">{{ interface|safe }}</p>

</body>
</html>